
<section class="page-section" id="{{ site.data.sitetext.gallery.section | default: "gallery" }}">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
    <link rel="stylesheet" href="assets\css\gallery.css" />
  </head>
  
  <body>
    <br />
    <h1 class="mt-12 mb-8 px-6 text-center text-lg md:text-2xl font-semibold">
      GALERIA DO PET
    </h1>
    <br />
    <center>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\promobio 2014.jpeg" data-caption="Projeto Promobio em 2013">
          <img class="rounded" src="assets\img\resized\r promobio 2014.png"  style= "margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\promobio 2014 3.jpeg" data-caption="Projeto Promobio em 2013">
          <img class="rounded" src="assets\img\resized\r promobio 2014 3.png" style="margin: 4px 4px 4px 4px" />
        </a>   
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\pet membros 2017.jpeg" data-caption="Grupo do PET de 2017">
          <img class="rounded" src="assets\img\resized\r pet membros 2017.png" style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\grupo pet 2016.jpeg" data-caption="Grupo do PET de 2016">
          <img class="rounded" src="assets\img\resized\r grupo pet 2016.png"  style="margin: 4px 4px 4px 4px"/>
        </a>
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\interpet 2014.jpeg" data-caption="Interpet 2014" 
        >
          <img class="rounded" src="assets\img\resized\r interpet 2014.png" style="margin: 4px 4px 4px 4px"/>
        </a>        
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\biombo 2011 2.jpeg" data-caption="Apresentação de trabalhos na feira científica da PUCRS em 2011">
          <img class="rounded" src="assets\img\resized\r biombo 2011 2.png"  style= "margin: 4px 4px 4px 4px" />
        </a>
      </div>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\pet talks 2022.jpeg" data-caption="PetTalks 2022 com Henrique Dias sobre I.A." 
        >
          <img class="rounded" src="assets\img\resized\r pet talks 2022.png" style="margin: 4px 4px 4px 4px"/>
        </a>      
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\pet talks 2017 2.jpeg" data-caption="PetTalks 2017 sobre Visualização de Sistemas Embarcados">
          <img class="rounded" src="assets\img\resized\r pet talks 2017 2.png" style="margin: 4px 4px 4px 4px"/>
        </a>
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\projeto gocode 2016 3.jpeg" data-caption="Projeto GoCode realizado em 2016">
          <img class="rounded" src="assets\img\resized\r projeto gocode 2016 3.png" style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\projeto gocode 2016 7.jpeg" data-caption="Projeto GoCode realizado em 2016">
          <img class="rounded" src="assets\img\resized\r projeto gocode 2016 7.png" style="margin: 4px 4px 4px 4px"/>
        </a>
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\sala pet 2014 ago 3.jpeg" data-caption="Bolsistas do PET utilizando os computadores do laboratório em 2014">
          <img class="rounded" src="assets\img\resized\r sala pet 2014 ago 3.png" style="margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="assets\img\full_gallery_images\pet workshop 2016.jpeg" data-caption="Workshop sobre Processamento de Linguagem Natural organizado pelo PET em 2016" >
          <img class="rounded" src="assets\img\resized\r pet workshop 2016.png" style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <br>
      <h3><a href="gallery_page.html"><button type="button" class="btn btn-outline-primary">Confira a galeria na íntegra!</button></a>
      </h3>  
    </center>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="assets\js\gallery.js"></script>
  </body>
</section>