<!-- Portfolio Modals -->
{% for project in site.portfolio %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-9 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ project.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <img class="img-fluid d-block mx-auto" src="{{ project.image }}" alt="{{ project.alt }}">
        <p>{{ project.content }}</p>
                <p class="text">{{ project.text }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            {% for person in project.people %}
            <div class="col">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
                <h4>{{ person.name }}</h4>
                <p class="text-muted">{{ person.role }}</p>
                <ul class="list-inline social-buttons">
                {% for network in person.social %}
                  <li class="list-inline-item">
                    <a href="{{ network.url }}" target="_blank">
                      <i class="{{ network.icon }}"></i>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
            <div class="button col-lg-12 mx-auto">
              <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fas fa-angle-left"></i>
              Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Portfolio Modals -->

<!-- PET-Talks Modals-->

{% for evento in site.data.pet-talks.eventos %}
<div class="portfolio-modal modal fade" id="e{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <!-- modal-body -->
      <div class="modal-body" style="text-align: center;">
        <div class="container">
          <h3>{{ evento.titulo }}</h3>
          <h5 class="item-intro text-muted">{{ evento.palestrante }}</h5>
          <hr>
          <br>
          <p style="text-align: justify;">Bio: {{ evento.legenda }}</p>
          <br>
          <img class="img-fluid d-block mx-auto" src="{{ evento.imagem }}" alt="imagem-evento">
          <br>
          {% if forloop.last == true %}
            <p>A palestra é aberta ao público e vale uma hora de atividade complementar para os alunos. Link para o Zoom: <a href="{{ site.data.pet-talks.link }}" target="_blank">{{ site.data.pet-talks.link }}</a>. Participe!</p>
            {% else %}
            <p>Vaja as palestras do PET-Talks em nosso <a href="https://www.youtube.com/playlist?list=PLUt3M2OJ6A_GKtrsMIZ1KdYI-migFJdpM" target="_blank">canal do Youtube</a>!</p>
          {% endif %}
          <p>{{ evento.data }} - {{ site.data.pet-talks.hora }}</p>
        </div>
      </div>
      <!-- end-modal-body -->
      <div class="row">
        <div class="button col-lg-12 mx-auto">
          <button class="btn btn-primary" data-dismiss="modal" type="button">
          <i class="fas fa-angle-left"></i>
          Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- End PET-Talks Modals -->
