.card-header {
  white-space: normal;
  border-bottom: 0;
  cursor: pointer;
}

#botao-selecao {
  margin: 20px 0 80px;
  padding: 20px 70px;
}

#header-selecao {
  background-image: linear-gradient(to bottom right, #39d8a4, #3d78e1);
}