// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.link-blog {
  text-align: center;
  background-image: url("../img/circuito.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  .button-blog {
    padding-top: 64px;
  }
}

